body {
  margin-top: 20px;
  color: #111;
}

body, table {
  font-family: sans-serif;
  font-size: 0.9em;
}

p {
  margin: 0;
}

.content {
  position: relative;
  width: 780px;
  height: 100%;
  margin: auto;
}

.infos {
  width: 390px;
  height: 60px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding-left: 10px;
  vertical-align: middle;
}
.infos p {
  line-height: 30px;
}

.board {
  width: 400px;
  height: 400px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 20px;
  width: 360px;
  margin-bottom: 20px;
}

.menu .controls {
  text-align: center;
}
.menu .controls button {
  padding: 6px 8px;
}
.menu .controls > button:not(:first-child) {
  margin-left: 20px;
}

.menu .players {
  margin-top: 20px;
}
.menu .players .player {
  width: 170px;
  float: left;
}
.menu .players > .player:first-child {
  padding-right: 9px;
  border-right: 1px solid #ddd;
}
.menu .players > .player:not(:first-child) {
  padding-left: 10px;
}
.menu .players .player h4 {
  margin-bottom: 5px;
  text-align: center;
  padding-left: 0;
}
.menu .players .player .ai_wait_time input[type="text"] {
  width: 45px;
}

.settings {
  margin-top: 40px;
}

.stats {
  clear: both;
  margin-top: 30px;
}
.stats h4 {
  font-weight: bold;
  margin-bottom: 8px;
}
.stats h4 span.small {
  font-size: 0.9em;
}
.stats h4 span.reset {
  text-decoration: underline;
  cursor: pointer;
}
.stats table {
  width: 100%;
  text-align: center;
}
.stats td {
  width: 33%;
}

.clickable {
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

.moving {
  font-weight: bold;
  text-transform: uppercase;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
